/* ---------------------------------------------------------------------
HEADER (GLOBAL) --------------------------------------------------------
--------------------------------------------------------------------- */

.skip-link {
	position: absolute;
	left: -9999px;

	&:focus {
		display: block;
		padding: 5px;
		margin: 5px 0 0;
		position: static;
		left: auto;
	}
}